@using TLD14.Localizations
@model IndexNavigation.IndexNavigationModel

<nav class="index-navigation-container" role="navigation" lang="@Context.GetRequestLanguage()">
    @foreach (var item in Model.Properties ?? [])
    {
        <a class="index-navigation" href="@item.Anchor">
            @item.Name
        </a>
    }
</nav>