body {
    background-color: var(--color-background);
    height: 100%;
    margin: 0;
}

html {
    font-size: 23px;
    height: 100%;
    margin: 0;
}

h1 {
    font-family: "Park Lane NF";
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-family: "Park Lane NF";
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 0;
}