footer {
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--brand-color-first);
    color: var(--brand-color-third);
    display: flex;
    justify-content: center;
}